In [20]:
import pandas as pd

merged_merchant_with_categories = pd.read_parquet('../data/curated/merged_merchant_info_with_categories.parquet')

In [21]:
merged_merchant_with_categories.head()

,merchant_abn,category_label,take_rate_value,fraud_probability,average_monthly_revenue,average_monthly_transactions
0,10023283211,Furniture and Home Furnishing,0.18,0.0,216.736529,155.285714
21,10142254217,"Media and Technology, Services",4.22,0.0,37.716001,144.571429
42,10165489824,Retail Goods,4.40,0.0,11236.094771,0.454545
53,10187291046,"Automotives, Retail Goods, Services",3.29,0.0,119.526004,16.800000
73,10192359162,Retail Goods,6.33,0.0,462.329450,19.250000

In [13]:
consumer_tbl = pd.read_csv('../data/raw/tbl_consumer.csv', delimiter='|')
userdf = pd.read_parquet('../data/raw/consumer_user_details.parquet')
merged = consumerdf.merge(userdf, on='consumer_id', how='left')

In [17]:
test_df = pd.read_parquet('../test/')

In [18]:
merged_with_test = merged.merge(test_df, on='user_id', how='left')

In [22]:
merged_with_abn = merged_with_test.merge(merged_merchant_with_categories, on='merchant_abn', how='left')

In [23]:
merged_with_abn

,name,address,state,postcode,gender,consumer_id,user_id,merchant_abn,dollar_value,order_id,order_datetime,category_label,take_rate_value,fraud_probability,average_monthly_revenue,average_monthly_transactions
0,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,1,2.800049e+10,133.226894,0c37b3f7-c7f1-48cb-bcc7-0a58e76608ea,2021-02-28,"Retail Goods, Furniture and Home Furnishing",4.24,0.000000,245.258150,180.523810
1,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,1,8.369064e+10,30.441348,40a2ff69-ea34-4657-8429-df7ca957d6a1,2021-02-28,"Automotives, Retail Goods",3.15,0.000000,88.512653,1707.238095
2,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,1,9.668077e+10,301.677498,5b6c059c-6831-4710-a2ff-76e265b4a509,2021-03-02,"Automotives, Retail Goods",5.91,29.555245,316.660874,1482.571429
3,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,1,4.989171e+10,5.904951,39e028ec-1663-4aff-a341-a9ad882d68d7,2021-03-04,Furniture and Home Furnishing,5.80,0.000000,28.889602,11786.952381
4,Yolanda Williams,413 Haney Gardens Apt. 742,WA,6935,Female,1195503,1,6.240384e+10,18.135592,316b9dec-1140-4ef9-bbf3-810694eb7eda,2021-03-06,"Retail Goods, Media and Technology",6.46,0.000000,34.467794,184.571429
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14671418,Jessica Avila,508 Miranda Overpass Apt. 218,QLD,4400,Female,1385608,499995,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14671419,Steven Thornton,7913 Schwartz Mission Suite 483,VIC,3097,Undisclosed,1466964,499996,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14671420,Christy Smith,5681 Zachary Mountain Apt. 060,NSW,2756,Undisclosed,1253484,499997,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14671421,Donna Sutton,54140 Jacob Point,VIC,3989,Female,175005,499998,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
14671422,Hannah Wilkins,61055 Long Valley,NSW,1755,Female,746835,499999,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [30]:
columns_to_drop = ['name', 'address', 'state', 'gender', 'dollar_value', 'order_id', 'order_datetime', 'category_label']

cleaned_merged_with_abn = merged_with_abn.drop(columns=columns_to_drop)

print(cleaned_merged_with_abn.head())

null_values = cleaned_merged_with_abn.isnull().sum()
print(null_values)

postcode                              0
consumer_id                           0
user_id                               0
merchant_abn                     475918
take_rate_value                 1056748
fraud_probability               1056748
average_monthly_revenue          475918
average_monthly_transactions     475918
dtype: int64